@import "tailwindcss";

* {
    font-family: 'Inter', sans-serif;
}


.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #065f46 !important;
    border-color: #065f46 !important;
}

.ant-checkbox-checked .ant-checkbox-inner:hover {
    background-color: #064e3b !important;
}

:where(.css-dev-only-do-not-override-1rfzxih).ant-checkbox-indeterminate .ant-checkbox-inner:after {
    background-color: #064e3b !important;
}

.custom-checkbox1 .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #FBBF24 !important;
    border-color: #FBBF24 !important;
}

.custom-checkbox2 .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #065f46 !important;
    border-color: #065f46 !important;
}

.custom-ant-table .ant-table-thead>tr>th {
    background-color: #a3a587 !important;
    color: #ffffff !important;
}

.ant-table-thead>tr>th:first-child {
    border-start-start-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.ant-table-thead>tr>th:last-child {
    border-start-end-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.custom-ant-table {
    padding: 2rem;
}

.custom-ant-table ::-webkit-scrollbar {
    width: 6px;
    /* vertical scrollbar */
    height: 6px;
    /* horizontal scrollbar */
}

.custom-ant-table ::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 4px;
}

.thead-gradient-border {
    position: relative;
}

.thead-gradient-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    /* thickness of the gradient border */
    width: 100%;
    background: linear-gradient(to right, #005738, #ffffff);
}